@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Outfit&family=Tilt+Prism&display=swap');
.AboutMe {
    width: 40%;
    margin-left: 30.5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 8px 36px 8px  rgb(187, 187, 187);
height: 40%;
}
@media screen and (max-width: 850px) {
    .AboutMe {
        background-color: red;
        width: 75%;
        margin-left: 13%;

    }
}
.seprator{
    height: 2px;
    color: black;
    background-color: black;
   width: 10.8rem;
   margin-left: 43.5%;
   margin-right: 25%;
   margin-bottom: 3%;

    }
    .Abouttext {
        font-size: 2.2rem;
        font-style: bold;
        text-align: center;
        margin-top: 10%;
        margin-bottom: 1%;
        position: relative;
        font-family:  Bold;
        font-size: 39px;
    }
    
    .line {
        width: 220px;
        height: 4px;
        background-color: #000;
        margin: 0 auto; /* Center the line horizontally */
    margin-bottom: 40px;
    }
    .AboutMeDes {
        -webkit-font-smoothing: antialiased;
        font-family: 'Outfit', cursive;  
              font-size: 19px;
        margin: 0;
        padding: 20px; 
    }

    .spacer{
        height: 10vh;
    }

    